h1 {
    color: Green;
    text-align: center;
}

h2 {
  font-style: normal;
  text-align: center;
}

p {
  font-family: times;
}

ul {
  color: purple;
  font-size: 15px;
  line-height: 15px;
  font-style: italic;
}
ol {
  color: purple;
  font-size: 18px;
  line-height: 30px;
  font-style: italic;
}
